@model ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
    var projects = Model.Projects;

}

<section id="projects">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addProjectModal" class="btn btn-add"><span>Add Project</span></button>
    </div>
    <div class="projects">
        @foreach (var project in Model.Projects)
        {


            Model.UpdateProjectViewModel.Id = project.Id;
            Model.UpdateProjectViewModel.ProjectName = project.ProjectName;
            Model.UpdateProjectViewModel.Description = project.Description;
            Model.UpdateProjectViewModel.Image = null;
            Model.UpdateProjectViewModel.ClientId = project.ClientId;
            Model.UpdateProjectViewModel.UserId = project.UserId;
            Model.UpdateProjectViewModel.StatusId = project.StatusId;
            Model.UpdateProjectViewModel.Budget = project.Budget;
            Model.UpdateProjectViewModel.StartDate = project.StartDate;
            Model.UpdateProjectViewModel.EndDate = project.EndDate;



            <div class="card project-card">
                <div class="project-dropdown-header-container">
                        <partial name="Partials/Dropdowns/_ProjectOptionsDropdown" model="Model.UpdateProjectViewModel" />
                </div>
                <div class="image">
                    @if (!string.IsNullOrEmpty(project.Image))
                    {
                        <img src="~/images/uploads/@project.Image" alt="@project.ProjectName" />
                    }
                    else
                    {
                        <img src="~/images/projects/project-template.svg" alt="default-project-template" />
                    }
                </div>
                <h4 class="name">@project.ProjectName</h4>
                <div>@project.Client.ClientName</div>
                <div class="">@project.Budget sek</div>
            </div>
        }

    </div>
</section>


<partial name="Partials/Components/Modals/_AddProjectModal" model="@Model.AddProjectViewModel" />

<script src="~/js/addForms.js" asp-append-version="true"></script>
<script src="~/js/handleProjects.js" asp-append-version="true"></script>
