@model ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

<section id="projects">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addProjectModal" class="btn btn-add"><span>Add Project</span></button>
    </div>
    <div class="projects">
        @foreach (var project in Model.Projects)
        {
            <div class="card project">
                <div class="image">
                    @if (!string.IsNullOrEmpty(project.Image))
                    {
                        <img src="~/images/uploads/@project.Image" alt="@project.ProjectName" />
                    }
                    else
                    {
                        <img src="~/images/projects/project-template.svg" alt="default-project-template" />
                    }
                </div>
                <h4 class="name">@project.ProjectName</h4>
                <div>@project.Client.ClientName</div>
                <div class="">@project.Budget sek</div>
            </div>
        }

    </div>
</section>


<partial name="Partials/Components/Modals/_AddProjectModal" model="@Model.AddProjectViewModel" />
<script src="~/js/validate.js"></script>
<script src="~/js/addForms.js" asp-append-version="true"></script>
