@model MembersViewModel

@{
    ViewData["Title"] = "Members";
}

<section id="members">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        @* <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add"><span>Add Member</span></button> *@
    </div>

    <div class="members">
        @foreach (var member in Model.Members)
        {
            <div class="card member-card">
                <div class="image">
                    @if (!string.IsNullOrEmpty(member.Image))
                    {
                        <img src="~/images/profiles/@member.Image" alt="" />
                    }
                    else
                    {
                        <img src="~/images/profiles/user-template.svg" alt="user template" />
                    }
                </div>
                <h4 class="name">@member.FirstName @member.LastName</h4>
                <div class="jobtitle">@member.JobTitle</div>
                <div class="email">@member.Email</div>
                <div class="phone">@member.PhoneNumber</div>
                <div class="role"></div>
            </div>
        }
    </div>
</section>